# Ignore raw GPS input data
data/raw/*
!data/raw/.gitkeep

# Ignore intermediate processed data
data/processed/*
!data/processed/.gitkeep

# Ignore tiles output
tiles/*
!tiles/.gitkeep

# (Optional) Ignore other temp or cache files
*.log
*.tmp

# Python
.venv/
__pycache__/
*.py[cod]
*.pyo

# MBTiles
*.mbtiles